* {
box-sizing: border-box;
}

::selection {
  background-color: var(--vscode-editor-selectionBackground);
}

body,
input,
button,
textarea {
  font-family: var(--vscode-editor-font-family);
  font-weight: var(--vscode-editor-font-weight);
  font-size: var(--vscode-editor-font-size);
}